.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  position: relative;
}

.searchBar svg {
  position: absolute;
  left: 16px;
}

.searchBar input {
  border: 2px solid #313131;
  padding: 16px 16px 16px 60px;
  border-radius: 16px;
  width: 400px;
  height: 60px;
  font-size: 20px;
  background: transparent;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.searchBar input::placeholder {
  color: white;
  opacity: 0.7;
}
